## Importing the Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## Reading the data set

In [2]:
df = pd.read_csv("salary.csv")
df.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

## Data Preparation

 #### 1- Handling missing values

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  373 non-null    float64
 1   Gender               373 non-null    object
 2   Education Level      373 non-null    object
 3   Job Title            373 non-null    object
 4   Years of Experience  373 non-null    float64
 5   Salary               373 non-null    float64
dtypes: float64(3), object(3)
memory usage: 17.7+ KB

In [4]:
df.shape

(375, 6)

In [5]:
df.columns

Index(['Age', 'Gender', 'Education Level', 'Job Title', 'Years of Experience',
       'Salary'],
      dtype='object')

In [6]:
df.dtypes

Age                    float64
Gender                  object
Education Level         object
Job Title               object
Years of Experience    float64
Salary                 float64
dtype: object

#### Duplicate Records in Data

In [8]:
df[df.duplicated()]

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
195,28.0,Male,Bachelor's,Junior Business Analyst,2.0,40000.0
250,30.0,Female,Bachelor's,Junior Marketing Coordinator,2.0,40000.0
251,38.0,Male,Master's,Senior IT Consultant,9.0,110000.0
252,45.0,Female,PhD,Senior Product Designer,15.0,150000.0
253,28.0,Male,Bachelor's,Junior Business Development Associate,2.0,40000.0
254,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
255,44.0,Male,Bachelor's,Senior Software Engineer,14.0,130000.0
256,34.0,Female,Master's,Senior Financial Advisor,6.0,100000.0
257,35.0,Male,Bachelor's,Senior Project Coordinator,9.0,95000.0
258,50.0,Female,PhD,Director of Operations,22.0,180000.0
260,NaN,NaN,NaN,NaN,NaN,NaN
262,46.0,Male,PhD,Senior Data Scientist,18.0,160000.0
281,41.0,Female,Bachelor's,Senior Project Coordinator,11.0,95000.0
287,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
303,45.0,Male,PhD,Senior Data Engineer,16.0,150000.0
306,49.0,Female,Master's,Director of Marketing,21.0,180000.0
307,31.0,Male,Bachelor's,Junior Operations Analyst,3.0,50000.0
309,47.0,Male,Master's,Director of Marketing,19.0,170000.0
310,29.0,Female,Bachelor's,Junior Business Development Associate,1.5,35000.0
311,35.0,Male,Bachelor's,Senior Financial Manager,9.0,100000.0
312,44.0,Female,PhD,Senior Product Designer,15.0,150000.0
313,33.0,Male,Bachelor's,Junior Business Analyst,4.0,60000.0
314,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
315,44.0,Male,Bachelor's,Senior Software Engineer,13.0,130000.0
317,36.0,Male,Bachelor's,Senior Marketing Specialist,8.0,95000.0
328,38.0,Female,Bachelor's,Senior Business Analyst,10.0,110000.0
345,33.0,Male,Bachelor's,Junior Business Analyst,4.0,60000.0
346,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
352,38.0,Female,Bachelor's,Senior Business Analyst,10.0,110000.0
353,48.0,Male,Master's,Director of Marketing,21.0,180000.0
354,31.0,Female,Bachelor's,Junior Business Development Associate,3.0,50000.0
355,40.0,Male,Bachelor's,Senior Financial Analyst,12.0,130000.0
356,45.0,Female,PhD,Senior UX Designer,16.0,160000.0
357,33.0,Male,Bachelor's,Junior Product Manager,4.0,60000.0
358,36.0,Female,Bachelor's,Senior Marketing Manager,8.0,95000.0
359,47.0,Male,Master's,Director of Operations,19.0,170000.0
360,29.0,Female,Bachelor's,Junior Project Manager,2.0,40000.0
361,34.0,Male,Bachelor's,Senior Operations Coordinator,7.0,90000.0
362,44.0,Female,PhD,Senior Business Analyst,15.0,150000.0
363,33.0,Male,Bachelor's,Junior Marketing Specialist,5.0,70000.0
364,35.0,Female,Bachelor's,Senior Financial Manager,8.0,90000.0
365,43.0,Male,Master's,Director of Marketing,18.0,170000.0
366,31.0,Female,Bachelor's,Junior Financial Analyst,3.0,50000.0
367,41.0,Male,Bachelor's,Senior Product Manager,14.0,150000.0
368,44.0,Female,PhD,Senior Data Engineer,16.0,160000.0
369,33.0,Male,Bachelor's,Junior Business Analyst,4.0,60000.0
370,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
372,29.0,Female,Bachelor's,Junior Project Manager,2.0,40000.0
373,34.0,Male,Bachelor's,Senior Operations Coordinator,7.0,90000.0
374,44.0,Female,PhD,Senior Business Analyst,15.0,150000.0

In [9]:
df[df.duplicated()].shape

(50, 6)

#### Droping duplicate records

In [10]:
df=df.drop_duplicates(keep='first')